form
{
    max-width: 50%;
    margin-left: 33%;
}

.form-control
{
    width: 70%;
}

h2
{
    padding-top: 20px;
}

.alert {
    margin: 0;
    padding-top: 2px;
    background: none;
    color: rgb(224, 28, 28);
    font-size: 13px;
    border: none;
}