<div class="outer">
<div class="input-group">
    <form class="d-flex" (ngSubmit)="search()">
    <input
        (ngSubmit)="search()"
        [(ngModel)]="searchType"
        name="s"
        class="form-control search-input"
        type="search"
        placeholder="Search Product Type"
        aria-label="Search"
      />
    <button type="submit" class="btn btn-primary search-btn" >
      <i class="fa fa-search"></i>
    </button>
</form>
</div>
<h2 class="text-center"><u>Product List</u></h2>
<div style="margin-left: 65%; margin-top: -40px;  ">
    <button class="btn btn-primary" (click)="addProduct()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>  Add to Product</button>
</div>
<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Type</th>
            <th>Name</th>
            <!-- <th>Stock</th>
            <th>Price</th>
            <th>Status</th> -->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.productType}}</td>
            <td>{{product.name}}</td>
            <!-- <td>{{product.stock}}</td>
            <td>{{product.price}}</td>
            <td>{{product.status}}</td> -->
            <td><button class="btn btn-info" (click)="viewProduct(product.id)" >View</button></td>
            <td><button class="btn btn-primary" (click)="updateProduct(product.id)" >Edit</button></td>
            <td><button class="btn btn-danger" (click)="disableProduct(product.id,product)">Disable</button></td>

        </tr>
    </tbody>
</table>
</div>
</div>